<h1>registed.</h1>

<p>
  <strong>Name:</strong>
  <%= @reserve.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reserve.date %>
</p>

<p>
  <strong>Ent:</strong>
  <%= @reserve.ent %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @reserve.ext %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reserve.amount %>
</p>