<h1>mmars3 indexpage</h1>

<%= form_tag(tx_path, method: :post) do %>

  <%= label_tag :name %>
    <%= text_field_tag :name , "someone"%>
  <br />
  <%= label_tag :date %>
    <%= date_field_tag :date , "2020-04-01"%>
  <br />
  <%= label_tag :ent %>
    <%= text_field_tag :ent , "tokyo"%>
  <br />
  <%= label_tag :ext %>
    <%= text_field_tag :ext , "fukuoka" %>
  <br />
  
  <br />
  <%= button_tag 'Reserve', class:'square_btn' %>
  
<% end %>





